<div class="bg-light">
  <h1>Portfolio</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus sapien ut purus pellentesque, eu rutrum enim
    feugiat. Fusce cursus rhoncus turpis in congue. Praesent ut volutpat nunc. Suspendisse volutpat imperdiet purus,
    et tempus tortor ultrices eget. Sed finibus tellus vel fringilla posuere.</p>

  <div class="card-group">
    <div class="card m-2 border-0">
      <img src="https://via.placeholder.com/700x400" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-primary">Project Name</h5>
        <p class="card-text">Donec tincidunt sagittis orci. Donec odio tellus, pellentesque at ullamcorper non,
          pretium sit amet enim. </p>
      </div>
    </div>
    <div class="card m-2 border-0">
      <img src="https://via.placeholder.com/700x400" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-primary">Project Name</h5>
        <p class="card-text">Vestibulum sem purus, lobortis ultricies interdum non, faucibus in orci. Sed blandit
          aliquam diam, eget sodales neque lacinia interdum.</p>
      </div>
    </div>
    <div class="card m-2 border-0">
      <img src="https://via.placeholder.com/700x400" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-primary">Project Name</h5>
        <p class="card-text">Aenean sit amet sem vehicula, luctus risus non, tempus diam. Phasellus tempor nisl quam.
        </p>
      </div>
    </div>
  </div>
</div>