<div class=" mb-3 border-bottom container w-75 mt-4 p-5 pt-4 pe-1" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-5">
        <img src="./assets/img/2.jpg" class="roundedimage " alt="...">
      </div>
      <div class="col-md-7 p-0">
        <div class="card-body p-0 ">
          <h2 class="card-title">The Second Heading <span class="text-muted">Is Pretty Cool Too.</span></h2>
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>
  </div>
</div>